@media(max-width: 1199px){

}
@media(max-width: 991px){

}
@media(max-width: 767px){
	.login-box {
	    left: auto;
	    position: relative;
	    top: auto;
	    transform: none;
	    width: 100%;
	}
}
@media(max-width: 414px){
	
}